#scores {
	-fx-background-radius: 6;
	-fx-background-color: lightgrey;
	-fx-border-insets: 3;
	-fx-border-radius: 3;
	-fx-border-width: 3px;
	-fx-border-color: darkgrey;
}

#scores-text {
	-fx-text-fill: darkorange;
	-fx-font-weight: bolder;
}

#scores-label {
	-fx-text-fill: teal;
	-fx-font-weight: bold;
}

.letter-button {
	-fx-font-weight: bolder; 
	-fx-font-size: 10pt; 
	-fx-background-color: tan; 
	-fx-border-color: black; 
	-fx-border-width: 2px; 
	-fx-border-radius: 3;
}

.label-one {
	-fx-background-radius: 6;
	-fx-background-color: lightgrey;
	-fx-font-weight: bolder; 
	-fx-text-fill: teal;
	-fx-border-insets: 3;
	-fx-border-radius: 3;
	-fx-border-width: 3px;
	-fx-border-color: darkgrey;
}
